[color]
	ui = auto

[include]
	path = .gitconfig_local

[alias]
	co = checkout
        cp = cherry-pick
	br = branch
	last = log -1 HEAD
        sortbranch = for-each-ref --sort=committerdate refs/heads/ --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(color:red)%(objectname:short)%(color:reset) - %(contents:subject) - %(authorname) (%(color:green)%(committerdate:relative)%(color:reset))'
        tree = log --graph --all --decorate --oneline

[core]
	editor = vim

[push]
	default = simple
